#imageCarousel {
  grid-column: 1/25;
  grid-row: 1;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  max-width: 100%;
  scroll-behavior: smooth;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.heroImage {
  width: 100%;
  flex: 0 0 auto;
  object-fit: cover;
  scroll-snap-align: start;
}

#heroText {
  display: flex;
  justify-content: center;
  flex-direction: column;

  grid-column: 1/25;
  grid-row: 2;
  padding: 6%;

  background-color: var(--fm-white);
}

.shopLink {
  letter-spacing: 10px;
  font-weight: 500;
}

.shopLink:hover {
  color: var(--fm-dark-gray);
  fill: green;
}

@media (min-width: 750px) {
  #heroText {
    grid-row: 1;
    grid-column: 15/25;
  }
  #imageCarousel {
    max-height: 450px;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
  }
}

@media (min-width: 900px) {
  .heroImage {
    aspect-ratio: initial;
    width: 100%;
    height: 100%;
    max-height: none;
  }
  #imageCarousel {
    grid-column: 1/15;
    grid-row: 1;
    width: 100%;
    height: 100%;
    max-height: none;
  }
  #heroText {
    padding: 0 10% 0 10%;
  }
}
@media (min-width: 950px) {
  #heroText {
    padding: 0 15% 0 15%;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 3rem;
    margin: 0;
  }
}
