---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroText from "../components/hero/HeroText.astro";
import HeroImage from "../components/hero/HeroImage.astro";
import Attribution from "../components/Attribution.astro";
import About from "../components/About.astro";
---

<Layout title="Frontend Mentor | Room homepage">
  <main>
    <Navbar />

    <HeroImage />
    <HeroText />

    <About />
  </main>
  <Attribution />
  <style>
    main {
      color: var(--fm-black);
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      /* gap: 2rem; */
    }
  </style>
</Layout>
