---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroText from "../components/HeroText.astro";
import About from "../components/About.astro";
import Attribution from "../components/Attribution.astro";
---

<Layout title="Frontend Mentor | Room homepage">
  <main>
    <Navbar />

    <HeroText />

    <About />
  </main>
  <Attribution />
  <style>
    main {
      color: var(--fm-black);
    }
  </style>
</Layout>
