---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.tsx";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Attribution from "../components/Attribution.astro";
---

<Layout title="Frontend Mentor | Room homepage">
  <main>
    <Navbar client:only />

    <Hero />

    <About />
  </main>
  <Attribution />
  <style is:global>
    main {
      color: var(--fm-black);
      display: grid;
      grid-template-columns: repeat(24, 1fr);
    }

    p {
      font-size: 15px;
      color: var(--fm-very-dark-gray);
      font-weight: 500;
    }
    h2 {
      line-height: 4px;
      font-weight: 500;
      font-size: large;
      letter-spacing: 5px;
    }
    h1 {
      font-size: 3rem;
      margin: 0;
    }
  </style>
</Layout>
