<img
  id="aboutImage1"
  class="aboutImage"
  src=`${import.meta.env.BASE_URL}/images/image-about-dark.jpg`
  alt=""
/>
<div id="aboutText">
  <h2>ABOUT OUR FURNITURE</h2>
  <p>
    Our multifunctional collection blends design and function to suit your
    individual taste. Make each room unique, or pick a cohesive theme that best
    express your interests and what inspires you. Find the furniture pieces you
    need, from traditional to contemporary styles or anything in between.
    Product specialists are available to help you create your dream space.
  </p>
</div>
<img
  id="aboutImage2"
  class="aboutImage"
  src=`${import.meta.env.BASE_URL}/images/image-about-light.jpg`
  alt=""
/>
<style>
  #aboutImage1 {
    display: block;

    grid-column: 1/25;
    grid-row: 3;
  }
  #aboutImage2 {
    grid-column: 1/25;
    grid-row: 5;
  }
  .aboutImage {
    width: 100%;
  }
  #aboutText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/25;
    grid-row: 4;
    padding: 3% 5% 5% 5%;
  }

  @media (min-width: 750px) {
    #aboutImage1 {
      display: none;
    }
    #aboutImage2 {
      grid-column: 12/25;
      grid-row: 2;
    }

    #aboutText {
      grid-column: 1/12;
      grid-row: 2;
      padding: 5% 7% 7% 7%;
    }
  }

  @media (min-width: 950px) {
    #aboutImage1 {
      display: block;
      grid-column: 1/8;
      grid-row: 2;
    }
    #aboutImage2 {
      grid-column: 18/25;
      grid-row: 2;
    }

    #aboutText {
      grid-column: 8/18;
      grid-row: 2;
      padding: 0 10% 0 10%;
    }
    #aboutText p {
      margin-top: 0;
    }
  }

  @media (min-width: 1100px) {
    #aboutText p {
      margin-top: 1rem;
    }
  }
</style>
