#navbar {
  grid-column: 1/25;
  grid-row: 1;
  z-index: 10;
  height: 100px;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  /* gap: 1rem; */
  /* justify-items: center; */

  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
}

ul {
  list-style-type: none;
}

li {
  font-weight: 600;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--black);
}
#navbarButton {
  grid-column: 1/1;
  grid-row: 1/1;
}

#navbarLogo {
  grid-column: 2/12;
  justify-self: center;
  grid-row: 1/1;
  display: flex;
  justify-content: center;
  z-index: 5;
}

#navbarList {
  grid-column: -1;
  grid-row: 1/1;

  display: flex;
  gap: 2rem;
  padding: 1rem;
  z-index: 20;

  opacity: 0;
  transition: opacity 0.3s;
}

@media (min-width: 750px) {
  #navbarList {
    opacity: 1;
    color: var(--fm-white);
    grid-column: 2/5;
    display: flex !important;
    justify-self: left;
  }

  #navbarLogo {
    grid-column: 1/1;
  }

  #navbarButton {
    display: none;
  }
}
